* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #222;
  overflow-x: hidden;
}

.grid {
  display: grid;
}

.grid--2-col {
  grid-template-columns: 1fr 1fr;
}

.grid--5-col {
  grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
  gap: 2.4rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.hero--cta-button:link,
.hero--cta-button:visited {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  padding: 1.6rem 2.4rem;
  background-color: #c41230;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.hero--cta-button:hover,
.hero--cta-button:active {
  background-color: #890d22;
}

.margin-bot-med {
  margin-bottom: 8rem;
}
