* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #333;
}

.grid {
  display: grid;
}

.grid--2-col {
  grid-template-columns: 1fr 1fr;
}

.grid--3-col {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.margin-bot-med {
  margin-bottom: 3.2rem;
}
