/*1173px*/
@media (max-width: 73em) {
  .hero-section {
    max-width: 100rem;
  }
  .first-z,
  .second-z,
  .third-z {
    grid-template-columns: 1fr;
  }
  .z-image {
    width: 50% !important;
    margin-bottom: 3.2rem;
    margin: 3.2rem auto;
  }
  .z-text {
    margin-bottom: 6.4rem !important;
  }

  .z-description {
    line-height: 1.8;
    padding: 0 3rem;
  }

  .trade-pos {
    grid-row: 2;
  }
  .section-history {
    padding: 6.4rem 0;
  }
}

@media (max-width: 63em) {
  .html {
    font-size: 50%;
  }
  .hero-section {
    max-width: 100rem;
  }
  .heading-primary {
    font-size: 5.2rem;
  }
  .description-hero {
    padding: 0 20rem;
  }
  .logo {
    width: 50%;
  }
  .title-section:first-child {
    padding: 0 7rem;
  }

  .title-section {
    font-size: 2.6rem;
    padding: 0 3rem;
  }
}

@media (max-width: 54em) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.685)),
      url(../img/hero-mobile.png);
  }
  .heading-primary {
    font-size: 4.4rem;
    padding: 0 12rem;
  }

  .cta {
    max-width: 140rem;
    padding: 9.6rem 10rem;
  }

  /*MOBILE NAVIGATION*/
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: none;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav {
    flex-direction: column;
    gap: 4.8rem;
  }

  /*FOOTER*/
  .footer {
    max-width: 75rem;
  }
}

@media (max-width: 49em) {
  /*FOOTER*/
  .footer {
    max-width: 65rem;
  }
  /*HERO*/
  .description-hero {
    padding: 0 15rem;
    line-height: 1.4;
  }
  .heading-primary {
    font-size: 4.8rem;
    padding: 0 14rem;
  }
  .z-description {
    padding: 0;
  }

  .title-section:first-child {
    padding: 0 3rem;
  }
  .title-section {
    font-size: 2.6rem;
    padding: 0 0rem;
  }
}
