/*
colors: #f9e7ea
*/
/****************/
/* HEADER SECTION */
/****************/

header {
  background-color: #f3d0d6;
}

.main-header {
  height: 12.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 0;
}

.main-nav {
  display: flex;
  list-style: none;
  gap: 2.4rem;
  font-size: 1.8rem;
}

.first-part {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  padding-left: 3rem;
}

.second-part {
  display: flex;
  gap: 1.2rem;
  margin-left: auto;
  padding-right: 3rem;
}

.logo {
  width: 30%;
}

/****************/
/* HERO SECTION */
/****************/

.section-hero {
  background-color: #f3d0d6;
}

.hero-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.heading-primary {
  text-align: center;
  font-size: 7.4rem;
  font-weight: 800;
  margin-bottom: 3.2rem;
}

.description-hero {
  text-align: center;
  color: #555;
  font-size: 2rem;
  line-height: 1.1;
  padding: 0 9rem;
  margin-bottom: 2.4rem;
}

.hero--cta-button:link,
.hero--cta-button:visited {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  padding: 1.8rem 1.6rem;
  background-color: #c41230;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.hero--cta-button:hover,
.hero--cta-button:active {
  background-color: #890d22;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15rem;
}

.know-more-hero {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-gallery img {
  width: 100%;
  opacity: 80%;
}
